@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    background: #333;
}

button {
    cursor: pointer;
}

.App {
    max-width: 368px;
    margin: 4rem auto;
}

.App > h1 {
    text-align: center;
    margin: 1rem 0;
}